html{
    font-family: 'Hanken Grotesk', sans-serif;
    
}

img{
    width: 100%;
}

.bold{
    font-weight: bold;
}

.grey{
    color: #666666;
}

.button{
    background-color: rgb(0, 98, 255, 1);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(0, 98, 255, 0.7);
}
.margin{
    margin-block: 50px 50px;
    display: block;
}

.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

hr{
    width: 20%;
}

.green{
    background-color: rgb(162, 211, 156);
    border: 15px solid rgb(255, 255, 255, 0.5);
}

.brown{
    background-color: #61082b;
}

.cyan{
    background-color: #0093CE;
}

.red{
    background-color: #ff1c1c;
}

.grey{
    background-color: #f5f5f5;
}

.fire-red{
    background-color: #d5001f;
}

.light-blue{
    background-color:#b4d0e7 ;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}