*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lime; */
}

html{
    font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header ul {
    display: flex;
    gap: 30px;
}

header ul li{
    list-style-type: none;
}

.button{
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
}

main .container-jumbo{
    width: 100%;
    background-color: #b4d0e7;
}

main .container-jumbo .jumbo{
    width: 80%;
    margin: 0 auto;
    background-color: #b4d0e7;
}

.container-jumbo .jumbo .jumbo-flex{
    display: flex;
    gap: 20px;
}

img{
    width: 100%;
}

.jumbo-flex div{
    flex-grow:1 ;
}
.jumbo-flex figure{
    flex-grow:2;
}

.container{
    width: 60%;
    margin: 0 auto;
}

section .business-plan{
    display: flex;
    gap: 20px;
}

main .business-plan > .plan{
    flex-basis: calc( (100% / 3) - (20px / 3));
    border: 1px solid #D3D3D6;
}

main .business-plan > .plan ul li{
    list-style-type: none;
}

main .business-plan > .plan .group{
    text-align: center;
    border-bottom:1px solid #D3D3D6;
}

.container .partner{
    display: flex;
    gap: 10px;
}

.container .partner figure{
    flex-grow: 2;
}

.container .partner div{
    flex-grow: 1;
}

.container section .dropbox-business{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container section .dropbox-business > .card{
    flex-basis: calc((100% / 3) - (20px / 3));
}

main .company-partner{
    display: flex;
}

.company-partner .side-company{
    flex-basis: calc(100% / 3);
}

.company-partner .center-company{
    flex-basis: calc(100% / 3);
}

.company-partner .side-company div:first-child{
    display: flex;
    flex-wrap: wrap;
}

.company-partner .side-company .company{
    width: 50%;
}


main .cta{
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    
}

.cta div{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #000000;
}

footer .utility{
    width: 80%;
    margin: 0 auto;
}